<?xml version="1.0" encoding="UTF-8"?>
<Configuration monitorInterval="60">
    <Properties>
        <Property name="log-path">logs</Property>
        <Property name="archive">${log-path}/archive</Property>
        <Property name="pattern"> [%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n</Property>
    </Properties>

    <Appenders>
        <Console name="Console-Appender" target="SYSTEM_OUT">
            <PatternLayout pattern="${pattern}"/>
        </Console>
        <File name="File-Appender" fileName="${log-path}/app_log.log" >
            <PatternLayout pattern="${pattern}"/>
        </File>
        <RollingFile name="RollingFile-Appender"
                     fileName="${log-path}/rolling_app.log"
                     filePattern="${archive}/rolling_app-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="${pattern}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="256 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="30"/>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Logger name="com.generator.logger" level="debug" additivity="false">
            <AppenderRef ref="File-Appender" level="error" />
            <AppenderRef ref="RollingFile-Appender" level="debug" />
            <AppenderRef ref="Console-Appender" level="info"/>
        </Logger>

        <Logger name="com.generator.service" level="debug" additivity="false">
            <AppenderRef ref="File-Appender" level="error" />
            <AppenderRef ref="RollingFile-Appender" level="debug" />
            <AppenderRef ref="Console-Appender" level="info"/>
        </Logger>

        <Root level="info">
            <AppenderRef ref="Console-Appender"/>
        </Root>
    </Loggers>
</Configuration>